<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      body, div, form, input, select, textarea , label { 
      
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 14px;
      color: rgb(63, 2, 10);
      
      }
      h1 {
        text-align: center;
        font-weight: bold;
      }
      #friendlist {
        font-family: 'Times New Roman', Times, serif;
        border-collapse:collapse;
        width: 100%;
        
      }
      
      #friendlist td, #friendlist th {
        border: 10px solid rgba(212, 187, 187, 0);
        padding: 10px;
      }
      
      #friendlist tr:nth-child(even){background-color: #cfbbbb;}
      
      #friendlist tr:hover {background-color: rgb(175, 235, 37);}
      
      #friendlist th {
        padding-top: 10px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #b6d820;
        color: rgba(255, 255, 255, 0.76);
      }
      
      </style>
  </head>
  
  <body>
    <h1>Note list</h1>
    <table id="friendlist">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in data %} <!--create a loop-->
      <tr>
        <td>{{ element.to }}</td>
        <td>{{ element.from_user }}</td>
        <td>{{ element.title }}</td>
        <td>{{ element.message }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
