<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Friend Form</title>
        <style>
            body {background-color: rgb(78, 6, 22); color: rgb(248, 250, 250); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
            body {border: 10px solid rgb(80, 35, 5);}
        </style>
    </head>
    <body>
        <form action = "" method = "POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
