<!DOCTYPE html>
<html>
<head>

</head>

<body>
{% for i in Note %}
    <p>To: {{i.to}}</p>
    <p>From: {{i.fromm}}</p>
    <p>Title: {{i.title}}</p>
    <p>Message: {{i.message}}</p>

{% endfor %}
</body>
</html>
